/3DView/3DView/.vs/
/3DView/3DView/Debug/
/3DView/3DView/Release/
/3DView/3DView/3DView/Debug/
/3DView/3DView/3DView/Release/
/3DView/3DViewCLR/Debug/
/3DView/3DViewCLR/Release/
/3DView/3DViewCS/obj/
/3DView/3DViewCS/Debug/
/3DView/3DViewCS/Release/
/3DView/3DViewCS/UI psd/
/3DView/3dViewCS/MAYA Objects