3DView/3DView/.vs/
3DView/3DView/Debug/
3DView/3DView/Release/
3DView/3DView/3DView/Debug/
3DView/3DView/3DView/Release/
3DView/3DViewCLR/Debug/
3DView/3DViewCLR/Release/
3DView/3DViewCS/obj/
3DView/3DViewCS/Bin/Debug/
3DView/3DViewCS/Bin/Release/
3DView/3DViewCS/UI psd/
3DView/3DViewCS/MAYA Objects/
3DView/3DViewCS/bin/Release/
3DView/3DViewCS/obj/Release/3DViewCS.csproj.GenerateResource.cache
3DView/3DViewCS/obj/Release/ThreeDViewCS.ThreeDViewForm.resources
3DView/3DViewCS/bin/bin.zip
